<html>
<head>

</head>
<body bgcolor ="white"> 
<center>
<form action="LoginDemo">
<table cellpadding="12">
<caption><font size="5px">Login Page</font></caption>
<tr>
<td width="150">Enter Name</td>
<td><input type ="text" placeholder ="Enter name" name = "un" style="width: 300px; height: 30px"></td>
</tr>
<tr>
<td>Enter Password</td>
<td><input type ="password" placeholder ="Enter password" name = "up" style="width: 300px; height: 30px"></td>
</tr>
<tr>
<th colspan ="2"><input type= "submit" name="login" ></th>
</tr>

</table>
</center>
</form>
</body>
</html>